.header__container{
    text-align: center;
    margin-top: 5rem;
}

.header__container h1{
    font-size: 6rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

.header__image{
    width: 70px;
    border-radius: 8rem 8rem 1.8rem 0rem ;
}
.reduce{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}