.paragraph__container{

    display: flex;
    text-align: center;
   
    margin-top: 5rem;

}

.paragraph__container img{
    width: 100px;
    border-radius: 50%;
}

.paragraph__container h3{
    text-align: start;
    font-weight: 10;
    text-transform: uppercase;
    margin-left: 1rem;
}
strong{
    text-transform: uppercase;
    line-height: 1.5;
}

.paragraph__image{
    background-color: var(--bg-color);
    border-radius: 100%;
    transform: skewx(-10deg);
    transition: all 2s ease;
    border: 2px solid grey;
}
.paragraph__image:hover{
    transform: rotate( -100deg);
}
.stars{
    position: absolute;
    right: 11rem;
    gap: 1rem;
   top: 28rem;
   transform: skewy(20deg);
    display: flex;
    flex-direction: column;
}

.paragraph__icon{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 4.3rem;
    top: 5rem;
    transform: skewX(-20deg);
}

.one__name{
    margin-bottom: 1rem;
}
.three__name{
    margin-top: 0.5rem;
    font-size: 0.5rem;
}


@media screen and (max-width:1024px) {
    .paragraph__container h3{
        margin-left: 4rem;
    }
}

@media screen and (max-width:600px) {
    .paragraph__container h3{
        margin-left: 2rem;
        font-size: 0.8rem;
    }

    .paragraph__container img{
        width: 4rem
    }
}