.project9__container{
    margin-top: 5rem;
    
}
.project9__container img{
    width: 30rem;
    box-shadow: 2px 2px 2px 2px grey;
}



@media screen and (max-width:1024px) {
    .project9__container img{
        width: 25rem;
    }
}

@media screen and (max-width:600px) {
    .project9__container img{
        width: 20rem;
    }
}