@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
 
  text-decoration: none;

}

:root{
  --bg-color:grey;
  --txt-color:black;
  --transition: all 1.2s;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body{
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: var(--txt-color);
  background-color: white;
  border:1rem solid black;
  width: 100%;
  
}
htm{
  scroll-behavior: smooth;
}
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}
a{
  color: var(--txt-color);
}
a:hover{
  color: aqua;
}
section{
  margin-top: 5rem;
}

@media screen  and (max-width: 1024px) {
  .container{
    width:var(--container-width-md)
  }
  section{
      margin-top: 4rem;
  }
}

@media screen  and (max-width: 600px) {
  .container{
    width:var(--container-width-sm)
  }
  section{
      margin-bottom: 2rem;
  }
}